<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script src="https://kit.fontawesome.com/9d34d7eb05.js" crossorigin="anonymous"></script>

<body style="background-image: url({% static 'veg6.jpg' %});background-repeat: no-repeat;background-size: 100% 700px;background-attachment: fixed;">

<h1 align="center" style="color:yellow"><u>About VeGGieS</u></h1>
<div style="margin-left:750px;margin-top:20px;height:500px;width:650px" ><b><h2 style="color:yellowgreen">Buy Healthy & Fresh Organic Vegetables Online</h2></b>

               <p align="justify" style="font-size:20px;color:white"  >   An urban citizen, who’s always on the go, battling through a busy life has hardly any time to focus on nutrition. Moreover, a busy lifestyle means less time to go out & shop for fresh vegetables. We’re here to solve this by helping you shop vegetables online. Choose from a wide range of fresh vegetables online & we’ll deliver the freshest vegetables sourced from local farms directly to your doorstep.<br><br> When you shop for vegetables online, it saves your time & also takes care of your nutrition. VeGGieS is the perfect solution to meet the nutritional needs of the urban citizen who’s always on the go. Order vegetables online- Easy, Fast & Fresh!.
</p>
<br>
<!--                <b>What are the benefits of eating vegetables daily?</b>-->
<!--                    It’s a rather well-known fact that including fresh vegetables in your daily diet has its own range of benefits. Vegetables contain a wide range of essential nutrients that are important for carrying out daily bodily functions. Moreover, vegetables provide all the nutrients at relatively lower calories. A diet rich in vegetables can lower your risk of heart disease, lower blood pressure, prevent some types of cancer, get rid of digestive problems & also help in weight loss. The importance of vegetables in the human diet is due to the fact that our bodies rely on external sources like fresh vegetables for nourishment & functioning. Farmers Fresh Zone is the perfect solution to meet the nutritional needs of the urban citizen who’s always on the go. Order fresh vegetables online- East, Fast & Fresh!-->


<!--               <b>Buy Fresh Vegetables Online @ Discounted rates!</b>-->
<!--                    We deliver fresh, vegetables to your doorstep! Shop for vegetables online & we’ll deliver them to your doorstep through our online vegetable delivery service. When you choose us, our dedicated efforts to help you buy fresh vegetables online makes your life a lot more convenient. Get exciting discounts, fresh Safe to eat vegetables & online vegetable delivery from Farmers Fresh Zone, eating healthy made easier for you! Buy fresh Safe to eat vegetables online at discounted rates & get them delivered to you with our safe, fast & convenient online vegetable delivery service. </div>-->

<!--                <b>Delivering fresh vegetables in major Cities In Kerala </b>-->
<!--                    Shopping for fresh vegetables online made it easier for citizens in major cities in Kerala & Tamil Nadu. We’re now delivering Safe to eat vegetables online in Kochi, Thrissur, Trivandrum, Kottayam, Angamaly & Coimbatore. Farmers Fresh Zone is the perfect solution to meet the nutritional needs of the urban citizen who’s always on the go. Order fresh Safe to eat vegetables online- Easy, Fast & Fresh!-->
<!--               <b>Fresh Vegetables for a Healthy Life</b>-->
<!--                    An ideal lifestyle means eating fresh vegetables for a healthy life. Getting hands on fresh vegetables might be difficult for some people, which is why we sell fresh vegetables online. Customers can order from our online vegetable store & get delivery as well.-->

<!--                    Vegetables start losing freshness as soon as they’re harvested. Hence, transportation plays an important role in ensuring the freshness of vegetables. Apart from this, vegetables are also sprayed with pesticides which increase the potential health hazards.-->

<!--                    All these problems are taken care of at Farmers Fresh Zone. Our optimized supply chain ensures that fresh vegetables are delivered to you within 16 hours of harvest. Our quality control team strictly monitors every product that comes into our facility & regular residue tests are conducted to ensure our customers get a truly healthy & safe experience. Order vegetables online through our vegetable store & enjoy seamless delivery with a dash of health!-->

<!--                    When you buy vegetables online from Farmers Fresh Zone, you get the freshest, non-toxic vegetables delivered to your doorstep. Online Vegetable Store & Online Vegetable Delivery- shopping made easier for you!-->
<!--                Now delivering fruits & Vegetables in Kochi, Thrissur, Trivandrum, Kottayam, Coimbatore.-->

<!--                    Quick Home Delivery & Multiple Payment Options Including COD (Cash On Delivery) at farmersfz.com-->
<!--                -->

<!--                    Now delivering fruits &amp; Vegetables in Kochi, Thrissur, Trivandrum, Kottayam, Coimbatore.-->
<!--                    Quick Home Delivery &amp; Multiple Payment Options Including COD at farmersfz.com/-->

    </div>
<br><br>
<div class="footer" >

	<div class="main-data-container" style="height:200px;width:600px;margin-left:600px">

		<div class="contact-section">
			<div class="logo-section">
          <img src="{% static 'logo.png' %}" style="width: 50px;height: 60px;margin-left: 5px;margin-right: 10px;border-radius:40%">
                <div class="logo-text" style="color:yellow;font-size:25px;margin-top:-50px;margin-left:80px"><b>VeGGieS</b></div>
			</div>
            <br>
			<div class="description" style="text-align:justify">
		<p style="font-size:20px;color:white"> VeGGieS is the perfect solution to meet the nutritional needs of the urban citizen who’s always on the go. Order vegetables online- Easy, Fast & Fresh!.
 We connect the rural farmers to urban consumers.<br>
                <b>What are the benefits of eating vegetables daily?</b>
                    It’s a rather well-known fact that including fresh vegetables in your daily diet has its own range of benefits. Vegetables contain a wide range of essential nutrients that are important for carrying out daily bodily functions.
		</p>	</div>

</div>		</div>

<!--		<div class="links-section">-->

<!--			<div style="height:100px;width:200px;margin-top:-190px;margin-left:800px">-->
<!--				<div class="heading"><h2 style="color:blue"><b>Get To Know Us</b></h2></div>-->
<!--				<div class="inner-box">-->
<!--					 <div class="item" style="text-decoration: none;"><i><h3 style="text-decoration: none;">					<a href="http://127.0.0.1:8000/newapp/about/"><i class="fa-solid fa-circle-info"></i></a>-->
<!--About Us</h3></i>-->
<!--                        </div>-->
<!--                    </div></div>-->
<br><br>
            <div style="height:180px;width:100%;margin-left:2px;color:black;background-color:grey;margin-top:100px;"><h3 style="font-size:25px"><b><i>Contact us</i></b></h3>

<div style="margin-top: 20px;margin-left:90px">
     <h3 style="color: blue;"><i class="fa-solid fa-phone fa-1x"style="color: red;"></i> Call Us</h3>
    <p style="color:black"> 8301838227<br>
        9544695541</p>
</div>
<div style="margin-top: -95px;margin-left:350px">
    <h3 style="color: red;"> <i class="fa-solid fa-envelope" style="color: blue;"></i> Mail Us</h3>
  <p style="color:black"> VeGGieSorg@gmail.com</p>
</div>
<div style="margin-top: -70px;margin-left:590px">
      <h3 style="color: blue;"><i class="fa-brands fa-square-whatsapp"style="color: red;"></i> Whatsapp</h3>
    <p style="color:black">9544695541</p>
</div>
<div style="margin-top: -76px;margin-left:790px">
    <h3 style="color: red;"><i class="fa-brands fa-square-instagram" style="color: blue;"></i></i> Instagram</h3>
    <p style="color:black">VeGGieS Organic Vegetables</p>
</div>
</div>




	</div>
</div>
</body>
</html>