
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>

        img:hover{
        transform: scale(1.2);
    }
    body{
            background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-repeat: no-repeat;
background-size: 100% 800px;
background-attachment: fixed;
        }
</style><script src="https://kit.fontawesome.com/9d34d7eb05.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
<div class="container-fluid" style="margin-left:50px;">
      <div class="row mt-5 ">
        <h2 align="center"><b><i>Products here.....</i></b></h2><br><br><br><br>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img src="{% static 'greenbrinjal.jpg' %}" style="width:250px;height:250px;border:solid black" >

                    <p style="color:blue"><b>Rs.50</b></p>
<i class="fa-solid fa-star" style="color:green"></i>
            <i class="fa-solid fa-star" style="color:green"></i>
<i class="fa-solid fa-star" style="color:green"></i>
          <p><b> Green Brinjal</b><button type="submit" style="color: white;background-color: black;"><a href="http://127.0.0.1:8000/newapp/userlogin/" style="text-decoration: none;color: white;">Add to Cart</a></button></p>
        </div>
        <div class="col-lg-3 colmd-6 col-sm-12">
          <img src="{% static 'brinjal.jpg' %}" style="width:250px;height:250px;border:solid black">
                              <p style="color:blue"><b>Rs.65</b></p>
            <i class="fa-solid fa-star" style="color:green"></i>
            <i class="fa-solid fa-star" style="color:green"></i>
<i class="fa-solid fa-star-half-stroke" style="color:green"></i>
           <p><b>Unda Brinjal</b><button type="submit" style="color: white;background-color: black;"><a href="http://127.0.0.1:8000/newapp/userlogin/" style="text-decoration: none;color: white;">Add to Cart</a></button></p>
        </div>
         <div class="col-lg-3 colmd-6 col-sm-12">
          <img src="{% static 'ddd.jpg' %}"  style="width:250px;height:250px;border:solid black">
                    <p style="color:blue"><b>Rs.40</b></p>
             <i class="fa-solid fa-star" style="color:green"></i>
            <i class="fa-solid fa-star" style="color:green"></i>
<i class="fa-solid fa-star" style="color:green"></i>
<i class="fa-solid fa-star" style="color:green"></i>
                     <p><b>Violet Brinjal</b>            <button type="submit" style="color: white;background-color: black;"><a href="http://127.0.0.1:8000/newapp/userlogin/" style="text-decoration: none;color: white;">Add to Cart</a></button>
</p>

        </div>


      </div></div>

<br><br>
<div class="footer">

	<div class="main-data-container" style="height:200px;width:600px">

		<div class="contact-section">
			<div class="logo-section">
          <img src="{% static 'logo.png' %}" style="width: 50px;height: 60px;margin-left: 5px;margin-right: 10px;border-radius:40%">
                <div class="logo-text" style="color:green;font-size:25px;margin-top:-50px;margin-left:80px"><b>VeGGieS</b></div>
			</div>
            <br>
			<div class="description" style="text-align:justify">
		 VeGGieS is the perfect solution to meet the nutritional needs of the urban citizen who’s always on the go. Order vegetables online- Easy, Fast & Fresh!.
 We connect the rural farmers to urban consumers.<br>
                <b>What are the benefits of eating vegetables daily?</b>
                    It’s a rather well-known fact that including fresh vegetables in your daily diet has its own range of benefits. Vegetables contain a wide range of essential nutrients that are important for carrying out daily bodily functions.
			</div>

</div>		</div>

		<div class="links-section">

			<div style="height:100px;width:200px;margin-top:-190px;margin-left:800px">
				<div class="heading"><h4 style="color:blue"><b>Get To Know Us</b></h4></div>
				<div class="inner-box">
					                        <div class="item" style="text-decoration: none;"><i><h5 style="text-decoration: none;">					<a href="http://127.0.0.1:8000/newapp/about/"><i class="fa-solid fa-circle-info"></i></a>
About Us</h5></i>
                        </div>
                    </div></div>
<br><br>
            <div style="height:280px;width:100%;margin-left:2px;color:yellow;background-color:grey;margin-top:100px"><h3><b><i>Contact us</i></b></h3>

<div style="margin-top: 20px;margin-left:90px">
     <h5 style="color: blue;"><i class="fa-solid fa-phone fa-1x"style="color: red;"></i> Call Us</h5>
    <p style="color:black"> 8301838227<br>
        9544695541</p>
</div>
<div style="margin-top: -95px;margin-left:350px">
    <h5 style="color: red;"> <i class="fa-solid fa-envelope" style="color: blue;"></i> Mail Us</h5>
  <p style="color:black"> VeGGieSorg@gmail.com</p>
</div>
<div style="margin-top: -70px;margin-left:590px">
      <h5 style="color: blue;"><i class="fa-brands fa-square-whatsapp"style="color: red;"></i> Whatsapp</h5>
    <p style="color:black">9544695541</p>
</div>
<div style="margin-top: -70px;margin-left:790px">
    <h5 style="color: red;"><i class="fa-brands fa-square-instagram" style="color: blue;"></i></i> Instagram</h5>
    <p style="color:black">VeGGieS Organic Vegetables</p>
</div>
                <div style="margin-top: -70px;margin-left:990px">          <img src="{% static 'logo.png' %}" style="width: 80px;height: 70px;margin-left: 190px;margin-right: 10px;border-radius:40%">
                 </div>            <h4 style="margin-left:400px;color:green;margin-top:50px"><i><u>Free, Doorstep delivery all over Kerala</u></i></h4><br>

</div>




	</div>
</div>
</body>
</html>