
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
     #x{
        font-size: 24px;
     }
    </style>
    <script src="https://kit.fontawesome.com/9d34d7eb05.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="b">    <i class="fa-solid fa-user fa-2x" style="color: red;"></i>
        </button></div>


<div class="offcanvas offcanvas-start" style="height:500px;width:400px;" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header"style="background-color:red">
    <h5 id="offcanvasTopLabel"></h5>
    <button style="margin-right:400px;" class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="b">    <i id="b" class="fa-solid fa-bars " style="color: red;"></i>
    </button>
  </div>

  <div class="offcanvas-body" style="background-color: red;color: white;">

             <h4> <p align="center" style="margin-top:100px;">First name: {{a.fname}}</p>
    <p align="center">Last name: {{a.lname}}</p>
           <p align="center">User name: {{a.uname}}</p>

    <p align="center">Email: {{a.email}}</p>
    <p align="center">Phone: {{a.phone}}</p></h4><br>
    <a href="http://127.0.0.1:8000/newapp/editdetails/{{a.id}}" class="btn btn-success" style="margin-left:150px;">Edit</a>
    <a href="http://127.0.0.1:8000/newapp/logout/" class="btn btn-success" style="margin-left:150px;">Logout</a>

  </div>
</div>
    </div>
</body>
</html>